<%= form_for [:project, @domain] do |form| %>
  <% if domain.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(domain.errors.count, "error") %> prohibited this domain from being saved:</h2>

      <ul>
      <% domain.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
    <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :domain_title %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
