<p id="notice"><%= notice %></p>

<p>
 <strong>Title:</strong>
  <%= @domain.title %>
</p>


<%= link_to 'Edit', edit_project_domain_path(@domain) %> |
<%= link_to 'Back', project_path(params[:project_id]) %>


<p>
  <%= link_to 'New Story', new_project_domain_story_path(params[:project_id], @domain) %>
</p>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Actor</th>
      <th>Action</th>
      <th>Objective</th>
      <th>Notes</th>
      <th>How to test</th>
      <th>Definition of done</th>
      <th>Estimate</th>
      <th>Completion time</th>
      <th>Priority</th>
      <th>Completed</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stories.each do |story| %>
      <tr>
        <td><strong><%= story.title %></strong></td>
        <td><%= story.actor %></td>
        <td><%= story.action %></td>
        <td><%= story.objective %></td>
        <td><%= story.notes %></td>
        <td><%= story.how_to_test %></td>
        <td><%= story.definition_of_done %></td>
        <td><%= story.estimate %></td>
        <td><%= story.completion_time %></td>
	<td><%= story.priority %></td>
	<td><%= story.completed %></td>
        <td><%= link_to 'View', project_domain_story_path(params[:project_id], params[:id], story) %></td>
        <td><%= link_to 'Edit', edit_project_domain_story_path(params[:project_id], params[:id], story) %></td>
        <td><%= link_to 'Destroy', project_domain_story_path(params[:project_id], params[:id], story), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
